.wrap-content {
  padding-top: 100px;
  padding-bottom: 100px;

  &_bg-light-blue {
    background-color: #f7f8fa;
  }
}

.explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  &__img {
    padding-right: 53px;
  }

  &__content {
    padding: 0;
  }

  &__title {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 35px;
    line-height: 40px;
    font-weight: 500;
    color: #323232;
    margin-top: 0;
    margin-bottom: 60px;
    position: relative;

    // Полоса шириной 68px
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -26px;
      width: 68px;
      height: 1px;
      background-color: #0199e6;
    }
  }

  &__text {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #727272;
    margin-top: 0;
    margin-bottom: 45px;
  }

  &__list {
    list-style: none;
    padding-left: 50px;
  }

  &__item-title {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #323232;
    margin: 0 0 13px;
  }

  &__item-text {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #727272;
    margin: 0 0 45px;
  }
}

// 
//=====ABOUT=====
// 
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  &__title {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 35px;
    line-height: 40px;
    font-weight: 500;
    color: #323232;
    margin-top: 0;
    margin-bottom: 60px;
    position: relative;

    // Полоса шириной 68px
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -26px;
      width: 68px;
      height: 1px;
      background-color: #0199e6;
    }
  }

  &__text {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #727272;
    margin-top: 0;
    margin-bottom: 45px;
  }

  &__list {
    list-style: none;
    ;
  }

  &__item-title {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #323232;
    margin: 0 0 13px;
  }

  &__item-text {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #727272;
    margin: 0 0 45px;
  }

  &__img {
    padding-left: 53px;
  }

}

// 
//=====FEATURES=====
// 
.features {
  &__header {
    text-align: center;
  }

  &__title {
    margin: 0 0 24px;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 35px;
    line-height: 53px;
    font-weight: 500;
    color: #323232;
    position: relative;

    // Полоса шириной 68px
    &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 68px;
      height: 1px;
      background-color: #0199e6;
    }
  }

  &__text {
    margin: 0;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    color: #727272;
  }

}

.block-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.box-features {
  width: 30%;

  &__title {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: #323232;
    text-align: center;
  }

  &__text {
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #727272;
    text-align: center;
  }

}

// 
//=====PRICES=====
// 
.prices-header {
  text-align: center;

  &__title {
    margin: 0 0 24px;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 35px;
    line-height: 53px;
    font-weight: 500;
    color: #323232;
    position: relative;

    // Полоса шириной 68px
    &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 68px;
      height: 1px;
      background-color: #0199e6;
    }
  }

  &__text {
    margin: 0;
    padding-bottom: 70px;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    color: #727272;
  }

}

.block-prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.box-prices {
  margin-right: 30px;

  &:hover {
    -webkit-box-shadow: 0px 5px 20px black;
    box-shadow: 0px 5px 20px #727272;
    -webkit-transition: .15s;
    -webkit-transition: .3s;
    transition: .3s;

    .table-prices__header,
    .btn_sign-up {
      background-color: #008ed6;
    }

    .btn_sign-up {
      border: 1px solid #008ed6;
    }

    .btn_sign-up,
    .table-prices__subtitle_text-highlighted {
      color: #fff;
    }

    .btn_sign-up:hover {
      border: 1px solid $highlighted;
      background-color: $highlighted;
    }

  }

}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.table-prices {
  background-color: #fff;
  width: 360px;

  &__header {
    text-align: center;
    background-color: #323232;
    padding: 20px 0;
  }

  &__title {
    margin: 0;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 24px;
    line-height: 35px;
    font-weight: 600;
    color: #ffffff;
  }

  &__subtitle {
    margin: 0;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;

    // Модификаторы
    &_text-bold {
      font-weight: 700;
    }

    &_text-highlighted {
      color: $highlighted;
    }
  }

  &__row:not(:first-child) {
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 2px dotted #e5e5e5;
  }

  &__row:last-child {
    border-bottom: 1px solid #e5e5e5;
  }

  &__col-1 {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #323232;
    padding: 15px 30px;
  }

  &__value {
    color: #323232;
    font-family: "Raleway", Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
  }

  &__col-2 {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #323232;
    padding: 15px 35px 15px 0;
    text-align: right;
  }

}


// 
//=====VIDEO=====
// 
.video-header {
  text-align: center;

  &__title {
    margin: 0 0 24px;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 35px;
    line-height: 53px;
    font-weight: 500;
    color: #323232;
    position: relative;

    // Полоса шириной 68px
    &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 68px;
      height: 1px;
      background-color: #0199e6;
    }
  }

  &__text {
    margin: 0;
    padding-bottom: 70px;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    color: #727272;
  }
}

.promo-video {
  text-align: center;
}

.block-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 18px;
  line-height: 64px;
  font-weight: 700;
  color: #323232;
  padding-top: 25px;
}

// 
//=====SCREENSHOTS=====
// 
.screenshots-header {
  text-align: center;

  &__title {
    margin: 0 0 24px;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 35px;
    line-height: 53px;
    font-weight: 500;
    color: #323232;
    position: relative;

    // Полоса шириной 68px
    &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 68px;
      height: 1px;
      background-color: #0199e6;
    }
  }

  &__text {
    margin: 0;
    padding-bottom: 70px;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    color: #727272;
  }
}

//Slider
.slides {
  height: inherit;
  opacity: 0;
  position: absolute;
  width: inherit;
  z-index: 0;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: opacity ease-in-out .5s, -webkit-transform ease-in-out .5s;
  transition: opacity ease-in-out .5s, -webkit-transform ease-in-out .5s;
  transition: transform ease-in-out .5s, opacity ease-in-out .5s;
  transition: transform ease-in-out .5s, opacity ease-in-out .5s, -webkit-transform ease-in-out .5s;
}

.slide1 {
  background-image: url(/img/screen_1.jpg);
}

.slide2 {
  background-image: url(/img/screen_2.jpg);
}

.slide3 {
  background-image: url(/img/screen_3.jpg);
}

#slide1:checked~.slider>.slide1,
#slide2:checked~.slider>.slide2,
#slide3:checked~.slider>.slide3 {
  opacity: 1;
  z-index: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.block-slider>input {
  display: none;
}

.block-slider .slider-controls {
  left: 50%;
  margin-left: -98px;
  position: absolute;
}

.block-slider label {
  cursor: pointer;
  display: inline-block;
  height: 8px;
  margin: 25px 12px 0 16px;
  position: relative;
  width: 8px;
  border-radius: 50%;
  -webkit-transition: background ease-in-out .5s;
  transition: background ease-in-out .5s;
}

.block-slider label:hover,
#slide1:checked~.controls label:nth-of-type(1),
#slide2:checked~.controls label:nth-of-type(2),
#slide3:checked~.controls label:nth-of-type(3) {
  background: #0199e6;
}

.block-slider label:after {
  border: 2px solid #0199e6;
  content: " ";
  display: block;
  height: 12px;
  left: -4px;
  position: absolute;
  top: -4px;
  width: 12px;
  border-radius: 50%;
}

// 
//=====COMMENTS=====
// 


// 
//=====REGISTER=====
// 