.wrap-content {
  padding-top: 100px;
  padding-bottom: 100px;

  &_bg-light-blue {
    background-color: #f7f8fa;
  }
}

.explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  &__img {
    padding-right: 53px;
  }

  &__content {
    padding: 0;
  }

  &__title {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 35px;
    line-height: 40px;
    font-weight: 500;
    color: #323232;
    margin-top: 0;
    margin-bottom: 60px;
    position: relative;

    // Полоса шириной 68px
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -26px;
      width: 68px;
      height: 1px;
      background-color: #0199e6;
    }
  }

  &__text {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #727272;
    margin-top: 0;
    margin-bottom: 45px;
  }

  &__list {
    list-style: none;
    padding-left: 50px;
  }

  &__item-title {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #323232;
    margin: 0 0 13px;
  }

  &__item-text {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #727272;
    margin: 0 0 45px;
  }
}

// 
//=====ABOUT=====
// 
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  &__title {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 35px;
    line-height: 40px;
    font-weight: 500;
    color: #323232;
    margin-top: 0;
    margin-bottom: 60px;
    position: relative;

    // Полоса шириной 68px
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -26px;
      width: 68px;
      height: 1px;
      background-color: #0199e6;
    }
  }

  &__text {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #727272;
    margin-top: 0;
    margin-bottom: 45px;
  }

  &__list {
    list-style: none;
    ;
  }

  &__item-title {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #323232;
    margin: 0 0 13px;
  }

  &__item-text {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #727272;
    margin: 0 0 45px;
  }

  &__img {
    padding-left: 53px;
  }

}

// 
//=====FEATURES=====
// 
.features {
  &__header {
    text-align: center;
  }

  &__title {
    margin: 0 0 24px;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 35px;
    line-height: 53px;
    font-weight: 500;
    color: #323232;
    position: relative;

    // Полоса шириной 68px
    &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 68px;
      height: 1px;
      background-color: #0199e6;
    }
  }

  &__text {
    margin: 0;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    color: #727272;
  }

}

.block-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.box-features {
  width: 30%;

  &__title {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: #323232;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  &__text {
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #727272;
    text-align: center;
  }

}

// 
//=====PRICES=====
// 
.prices {
  &__header {
    text-align: center;
  }

  &__title {
    margin: 0 0 24px;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 35px;
    line-height: 53px;
    font-weight: 500;
    color: #323232;
    position: relative;

    // Полоса шириной 68px
    &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 68px;
      height: 1px;
      background-color: #0199e6;
    }
  }

  &__text {
    margin: 0;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    color: #727272;
  }

}


// 
//=====VIDEO=====
// 



// 
//=====SCREENSHOTS=====
// 



// 
//=====COMMENTS=====
// 


// 
//=====REGISTER=====
// 